celery[redis]
click
django>=4.0
django-grappelli
django-celery-beat
django-environ
django-stubs
gunicorn
moviepy
mypy
psycopg2-binary
pylint
pylint-django
pyTelegramBotAPI
pytimeparse
sentry-sdk
whitenoise
youtube-dl
